/.svn/
/build/win32/Debug/
/build/linux/Debug/
/build/linux/.settings/
/src/cplib/pcre/
/src/cplib/bsxml-json/
/src/*.conf

/src/modules/mod_dav/prop_req.xml
*.old
*.d
*.o
*.pem
*.key
*.csv
*.csr
*.cer
*.crt
*.lo
*.lib
*.a
*.so
*.obj
*.user
*.suo
*.log
*.sdf
*.key.org
*.bundle
*.zip
*.py
Makefile.rpi
github.txt
/VERSION
#src
/src/calipso
#test
/test/gh
/test/deadcon
/test/*.c
/test/*.sh



