/.svn/
/build/win32/Debug/
/build/linux/Debug/
/build/linux/.settings/
/src/cplib/pcre/
*.old
*.d
*.o
*.pem
*.key
*.csv
*.csr
*.cer
*.crt
*.lo
*.lib
*.a
*.so
*.obj
*.user
*.suo
*.log
*.sdf
*.key.org
*.bundle
/VERSION
/src/calipso
/test/gh
/test/deadcon
Makefile.rpi
github.txt
